body{
  background-color: #DFCE9D;
 }
.beach_tile {
  background-color: #DFCE9D;
}

.location-header {
  margin-top: 20px;
}

.header-text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
}

.beach-title {
  padding-right: 100px;
}


#voting .button {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

#voting .up {
  background-color: #4CAF50;
  opacity: 50%;
}

#voting .down{
  background-color: #FF0000;
  opacity: 50%;
}

#voting .selected {
  opacity: 100%;
}

/* #65CBDA #15B2D1 #236E95 #1D5171 #C2B280 #DFCE9D */